
  .bigButton{
    background-color: #1c3738 !important;
    color: white !important;
  }

  .rectangle{
    background-color: #8BAAAD;
    border-radius: 1rem;
    padding: 2rem;
  }

  .babyRect {
    background-color: #8BAAAD;
    border-radius: 1rem;
    padding: 2rem;
  }
  